.body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.qwe{
    width: 249px;
    height: 53px;
    background-color: rgba(118, 244, 234, 0.5);
    color: #505050;
}
.cap{
    background-color: #eff0f2;
    height: 784px;
    opacity: 0.99;
    
}
.top{
    margin: 61px 0px;
}
.menu-span{
    display: float-right;
    justify-content: right;
    background-color:red; 
}
.main-text{
    text-align:  center;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    color: #505050;
    font-family: Montserrat;
    font-size: 43px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
}
.cntact-us{
    font-size: 17,53px;
    width: 227px;
    border-radius: 2px;
    border: 3px solid #87898a;
    padding: 16px;
    text-transform: uppercase;
    color:#424242;
    font-weight: 550;
    margin: 130px 450px;
    text-align: center; 
    cursor: pointer;
}
.cntact-us:hover{
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow:    0px 3px 8px 0px rgba(0, 0, 0, 0.58);
    box-shadow:         0px 3px 8px 0px rgba(0, 0, 0, 0.58);
}
.glass{
margin: 147px 50px;
}
.headingt{
    height: 28px;
    color: #000000;
    font-family: Montserrat;
    font-size: 37px;
    font-weight: 700;
    line-height: 27.27px;
    text-transform: uppercase;
    margin: 123px 0px 0px;
    text-align:  center;
}
.secondary{
    color: #5e5f5f;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.27px;
    text-transform: uppercase;
    text-align:  center;
    margin: 12px 0px 117px;
}
.zxc{
    width: 1438px;
    height: 960px;
    background-color: #f8fafa;
}
.question{
    width: 396px;
    height: 29px;
    opacity: 0.75;
    color: #000000;
    font-family: Merriweather;
    font-size: 19px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}
.answer{
    /* Style for "A visual a" */
    width: 462px;
    height: 208px;
    opacity: 0.74;
    color: #000000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.27px;
     /* Text style for "A,  visual" */
    letter-spacing: 0.8px; 
    text-align: justify;
}
.br1{
margin: 13px 0px;
}
.square-excretion{
    background-color: #eff0f2;
    margin: 116px 0px;
    height: 900px;
}
.okno-1{
    height: 169px;
}
.clients{
    margin: 10px 0px;
}
.registration{
    width: 599px;
    height: 449px;
    box-shadow: 0 0 29px rgba(21, 21, 21, 0.12);
    background-color: #021623;
    opacity: 0.71;
}
.map-info{
    box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
    background-color: #021623;
    opacity: 0.71;
}
.iframe{
}
.image-backround{
    background-image: url(../img/fon.png);
    height: 907px;
    /* background-size: 100%; */
    width: 1494px;
    height: 933px;
}
.footer-fon{
    background-color:#262b2e;
    height: 308px;
}
.follow{
    
}
.Follow-us{
    width: 92px;
    height: 13px;
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24.35px;
    text-align: center;
    text-transform: uppercase;
}
.parent{
    display: flex;
    justify-content: center;
    height: 100%;
}
.copyright{
    width: 334px;
    height: 17px;
    opacity: 0.4;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24.35px;
    text-align: center;
    /* Text style for "C, opyrigh" */
    font-style: normal;
    letter-spacing: 0.16px;
    line-height: normal;
}